<!DOCTYPE html>
<html>

<head>
    <title>
        Dania form
    </title>
    <link rel="stylesheet" href="styles/base.css">
</head>

<body>
    <header>
        <h1>
         Best Books!
        </h1>
    </header>
    <main>
        <p>
            <a href="/show">list of book</a>
        </p>
      
        <form action="/" method="GET">
            <label>
                <span>
                    Name of the book
                </span>
                <input type="title" name="search" />
            </label>
            <label>
                <span>
                        Title
                </span>
                    <input  type="radio" name="searchResult"  value="Title"/> 
            </label>
            <label>
                    <span>
                       Author
                    </span>
                    <input type="radio" name="searchResult"  value="Author"/>
                </label>
            <button type="button" > Search </button>
        </form>
    </main>
    <footer>
        This web is done by Dania
    </footer>
</body>

    
</html>