<!DOCTYPE html>
<html>

<head>
    <title>
        Dania Template
    </title>
    <link rel="stylesheet" href="styles/base.css">

</head>

<body>
    <main>
        <ul>
            <!-- <p>The titles</p>
            <% show.forEach((book)=> { %>
            <li><%= book.volumeInfo.title %></li>
            <% }); %>
            <p>The authors</p>
            <% show.forEach((book)=> { %>
            <li><%= book.volumeInfo.authors[0] %></li>
            <% }); %>
            <p>The descriptions</p>
            <% show.forEach((book)=> { %>
            <li><%= book.volumeInfo.description %></li>
            <% }); %>
            <p>The imageLinks</p>
            <% show.forEach((book)=> { %>
            <li><%= book.volumeInfo.imageLinks.thumbnail %></li>
            <% }); %> -->

        </ul>
    </main>
</body>

</html>